@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* This stylesheet is organized using BEM methology *******/
/* Basic Theme ********************************************/

a, a:link, a:active, a:hover, a:visited, a:disabled {
    text-decoration: none;
}


h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 14px;
    line-height: 24px;
}

html, body {
    font-family: 'Raleway', sans-serif;
    background: #1DE9B6;
    color: #E0F7FA;
}

.label, .radio:hover, .checkbox:hover {    
    color: #E0F7FA;
}

main {
    background: #263238;
}

footer {
    color: #263238;
}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

/* Block ************************************************/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 32px;
}

main {
    flex: 1 0 auto;
    padding: 4em;
}

main, footer {    
    width: 70%;
}

form {
    padding: 2em;
}

footer {
    flex-shrink: 0;
    align-content: center;
    justify-content: flex-end;
    height: 32px;
    text-align: right;
}

/* Element **********************************************/

main h1, p {
    text-align: center;
}

.field {
    padding: 0.5em 0;
}

.im {
    font-size: 16px;
}

/* input:focus {
    border-style: none;
} */

input:invalid, input:invalid:hover {
    border: 1px solid #C51162;
}

.field .help {
    text-align: left;
}

.input-container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 2em;
}

.checkbox-container {
    flex-direction: column;
}

.checkbox-container > label {
    padding-bottom: 0.5em;
}

input[type=checkbox] {
    margin-right: 0.5em;  
}

form:last-of-type div {
    justify-content: center;
}

#submit {
    width: 112px;
}

.button {
    justify-content: space-evenly;
}

/* Modifier *********************************************/

footer:before { content:"\00a9"; }

.--flex {
    display: flex;
    flex-wrap: wrap;
}

/* Responsive *******************************************/
@media (max-width: 800px) {}