@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* This stylesheet is organized using BEM methology *******/
/* Basic Theme ********************************************/

body {
    font-family: 'Raleway', sans-serif;
    background: #004D40;
    color: #fff8e1 ;
}

/* Block ************************************************/

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

form {
    padding: 2em;
}

footer {
    flex-shrink: 0;
    padding: 1em 2em;
    text-align: right;
}

/* Element **********************************************/

.input-container {
    flex-direction: row;
    padding: 2em;
}

.input-container div {
    /* width: 100%; */
    margin: 2em;
}

/* Modifier *********************************************/

footer:before { content:"\00a9"; }

.--flex {
    display: flex;
    flex-wrap: wrap;
}

.--Pgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}

/* Responsive *******************************************/
@media (max-width: 800px) {}